---
import { getCollection, getEntryBySlug } from "astro:content";
import { Image } from "astro:assets";
import Layout from "~/layouts/Layout.astro";
import Container from "~/components/Container.astro";
import FormattedDate from "~/components/FormattedDate.astro";

export async function getStaticPaths() {
  const blog = await getCollection("blog");

  return blog.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const {
  data,
  render,
  data: { title, description },
} = post;
const { Content } = await render();

const author = await getEntryBySlug("authors", data.author);
---

<style is:global>
  /* https://github.com/shikijs/shiki/issues/3 */
  code {
    counter-reset: step;
    counter-increment: step 0;
  }

  code .line::before {
    content: counter(step);
    counter-increment: step;
    width: 1rem;
    margin-right: 1.5rem;
    display: inline-block;
    text-align: right;
    color: rgba(115, 138, 148, 0.4);
  }
</style>

<Layout title={title} description={description}>
  <Container>
    <div class="max-w-3xl mx-auto my-16">
      <header class="mx-auto w-full max-w-3xl text-center">
        <FormattedDate class="text-gray-500" date={data.publishDate} />
        <h1 class="mt-4 text-4xl lg:text-5xl font-bold lg:tracking-tight">
          {data.title}
        </h1>
        {
          author && (
            <div class="flex items-center justify-center gap-4 mt-4">
              <span>By</span>
              <Image
                class="h-16 w-16 rounded-full"
                src={author.data.image}
                alt={author.data.name}
                aria-hidden="true"
              />
              {author.data.name}
            </div>
          )
        }
      </header>
      <article class="mt-10 pt-10 border-t sm:mt-16 sm:pt-16 prose prose-lg">
        <Content />
      </article>
    </div>
  </Container>
</Layout>
